
.icon{
    width: 15%;
    padding-left: 20px;
    display: inline;
}
.item{
    text-align: center;
    width: 210px;
    height: 500px;
    background-color: rgb(62, 23, 101);
    border: 4px;
}
.main{
    /* position: relative; */
    margin: auto;
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
}
.middle{
    border: 4px;
    border-width: 3px;
    border-color: black;
}
body{
    margin: 0;
    margin-top: 0;
}
div.header{
    padding-bottom: 5%;
    background-color: blue;
}
li{
    list-style-type: none;
    display: inline-flex;
    padding: 15px;
    
    
}

h1{
    text-align: center;
    padding-top: 5%;
    color: aliceblue;
}
